/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/EventsCard.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.EventsCard_overlay__AXk_O {
  color: rgb(240,240,240);
  font-size: 1.2rem;
  border-radius: 2xl;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.307);
  border-radius: 1rem;
}

